.portfolio-scroller {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.progressbar {
  background-color: #d8d8d8;
  height: 5px;
  border-radius: 5px;
  position: sticky;
  left: 0;
  width: 95%;
  z-index: 2;
}

.progressindicator {
  background-color: #f6931f;
  height: 5px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.scroll-box {
  flex-direction: row;
  width: 100%;
  margin-top: 4%;
  z-index: 0;
}

.scroll-rl {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.scroll-right,
.scroll-left,
.arrow-color {
  color: #f6931f;
}

.scroll-container {
  padding: 0px 100px 0px 100px;
}

.point-dot {
  float: right;
  position: absolute;
  right: -11px;
}

.card-content-list {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  list-style-image: url("https://imgur.com/eLlFBEo.png");
}

.card-container {
  padding: 30px;
}
.slider-line {
  background: antiquewhite;
  height: 2px;
  position: relative;
  top: 76px;
  margin: 0px 30px;
}
.slick-center {
  transform: scale(2);
}
.item.row {
  padding: 2rem;
}
.owl-item.active.center > .row > .col-sm-12 > .owl-img {
  border-radius: 335px;
  border: 1px solid var(--red, #cb3d00);
  padding: 3px;
}
.owl-item.cloned.active > .row > .col-sm-12 > .owl-img {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  padding: 3px;
}

.owl-item.active > .row > .col-sm-12 > .owl-img {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  padding: 3px;
}
p.user-name {
  color: #1b163a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p.user-role {
  color: var(--red, #cb3d00);
  font-size: 16.274px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.303px;
}
p.user-bio {
  color: #96949e;
  font-size: 13.219px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.242px;
}
.owl-item.active {
  transform: scale(0.8) !important;
}
.owl-item.active.center {
  transform: scale(1.1) !important;
  width: 40vw !important;
  overflow: hidden;
}
.owl-item.active:not(.center) {
  width: 14vw !important;
  height: 25vh !important;
  overflow: hidden;
}
.owl-item:not(.center) .my-content, .owl-item.cloned:last-child {
  display: none;
}
.owl-item.active.center .my-content {
  display: block;
}

.search {
  display: inline-block;
  position: relative;
  width: 92%;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 18px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #2e3136;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.search button[type="submit"] {
  background-color: #cb3d00;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 3px;
  right: 3px;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}

.contact-viewport {
  height: 100vh;
  overflow: hidden;
}

.dot-1 {
  position: relative;
  left: -100px;
  /* top: 22px; */
  display: inline !important;
}
.card.slidercard {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  border: none;
}

.active-card {
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}


.footer-links{
  justify-content: center;
    display: flex;
}
.footer-nav{
  margin: 0px 10px;
}

.footer-social{
  justify-content: end;
}
.footer-social-item{
  margin-left: 10px;
}

.footer-pad0{
  padding: 0 !important;
}

.dot-last {
  position: relative;
  left: -164px;
  top: 22px;
  display: inline !important;

}

.semi-bold{
  font-weight: 500;
}

img.img-fluid.point-dot {
  display: initial;
}