body {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
a.nav-link {
  color: #415F7B;
font-size: 14px;
font-style: normal;
font-weight: 510;
line-height: normal;
}
